@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
button {
  font-family: "SpoqaHanSansNeo-Regular";
}

p,
h2 {
  margin: 0;
}
/* 전체 테두리 박스 */
.container {
  width: 350px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  background: #fff;
}
/* content 박스 */
.login-box {
  padding: 19px 16px 18px 16px;
  display: grid;
  gap: 16px;
}
/* 더 편리해진 위니브에 오신 것을 환영합니다. */
.title {
  color: black;
  font-size: 12px;
  font-weight: 400;
}
/* weniv 로그인 */
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: #711bff;
}
.login-btn:hover {
  cursor: pointer;
}
.login-btn img {
  width: 64px;
  height: 18px;
  flex-shrink: 0;
}
.login-btn .login-btn-text {
  margin-left: 4px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 아이디 | 비밀번호찾기 , 회원가입*/
.bottom-box > div {
  display: flex;
}
.bottom-box .id-find p,
.bottom-box .signup p {
  margin-left: 4px;
}
.bottom-box a {
  display: flex;
  color: #767676;
  text-decoration: none;
  font-size: 12px;
}
.bottom-box span {
  margin: 0px 4px 0px 4px;
  color: #767676;
  font-size: 12px;
}
.bottom-box img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
