:root {
  --bg-color: #343e4e;
  --main-color: #343e4e;
  --text-color: #cbd5df;
  --border: 1px solid black;
  --box-shadow: inset 1px 1px 0 0 #4a5568;
}
.yes {
  --bg-color: #343e4e;
  --main-color: #439aff;
  --text-color: white;
}
.del {
  --bg-color: #343e4e;
  --main-color: #eb5757;
  --text-color: white;
}

button {
  width: 88px;
  height: 32px;
  margin: 10px;
}

.btn {
  color: var(--text-color);
  background-color: var(--main-color);
  border: var(--border);
}
.btn:enabled {
  box-shadow: var(--box-shadow);
}
.btn:disabled {
  border: 1px solid #343e4e;
  background-color: #3a4556;
  color: #4a5568;
}
.btn:enabled:hover {
  color: white;
  text-decoration: underline;
}
.btn:enabled:active {
  box-shadow: inset 1px 1px 0 0 #262f3e;
}

.yes {
  color: var(--main-color);
  background-color: var(--bg-color);
  border: var(--border);
}
.yes:enabled {
  box-shadow: var(--box-shadow)
}
.yes:enabled:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-color);
  text-decoration: underline;
  box-shadow: inset 1px 1px 0 0 #73b4ff;
}
.yes:enabled:active {
  box-shadow: inset 1px 1px 0 0 #3b78be;
}
.del {
  color: var(--main-color);
  background-color: var(--bg-color);
  border: var(--border);
}
.del:enabled {
  box-shadow: var(--box-shadow);
}
.del:enabled:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: inset 1px 1px 0 0 #fd6f6f;
  color: white;
  text-decoration: underline;
}
.del:enabled:active {
  box-shadow: inset 1px 1px 0 0 #d94242;
}
