/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");
/* layout */
body {
  background-color: #eae8fe;
  font-family: "Noto Sans KR", sans-serif;
}
/* reset */
body,
h1,
h2,
p,
button,
ul {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
ul,
li {
  list-style: none;
}
button {
  font-family: "Noto Sans KR", sans-serif;
}

/* css */
/* header */
.header {
  text-align: center;
  margin-bottom: 64px;
}
.header img {
  max-width: 50%;
}
/* main */
.main {
  width: 748px;
  max-width: 100%;
  display: grid;
}
/* 749부터 적용하겠다. */
@media (min-width: 749px) {
  main {
    grid-template-areas:
      "section1 section2"
      "section1 section3";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    gap: 20px 28px;
    margin: 67px auto;
  }
}
/* 768까지 적용하겠다. */
@media (max-width: 748px) {
  main {
    grid-template-areas:
      "section1"
      "section2"
      "section3";
    margin: 18px auto;
  }
  body {
    background-color: #fff;
  }
}
/* common */
/* 공통 CSS */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.purple-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px 7px 10px;
  background-color: #eae8fe;
  border-radius: 5px;
  font-size: 14px;
}
[class^="btn"] {
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  font-size: 13px;
}
[class^="btn"]:active {
  background-color: rgba(41, 41, 41, 0.5);
}
[class^="btn"]:hover {
  cursor: pointer;
}
.list-choose {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #eae8fe;
  border-radius: 5px;
  border: 1px solid var(--gray-4, #bdbdbd);
  overflow-y: scroll;
  padding: 12px;
}
.list-choose .list-cola2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px 8px 8px 10px;
  border-radius: 5px;
}
.list-choose .list-cola2 div {
  gap: 10px;
}
.list-choose .list-cola2 img {
  width: 18px;
  height: 33px;
}
.list-choose .list-cola2 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.cola-count {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--gray-4, #bdbdbd);
}
/* section1 */
.section1 {
  background-color: #fff;
  padding: 31px 27px 28px 27px;
  grid-area: section1;
}
/* list cola */
.section1 .list-cola {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.section1 .btn-cola {
  border-radius: 10px;
  padding: 11px 12px 9px;
  position: relative;
}
.btn-cola img,
.cola-name,
.cola-price {
  display: block;
}
.section1 .btn-cola img {
  width: 36px;
  margin: 0 auto;
}
.cola-name {
  font-size: 9px;
  margin: 6px 0;
}
/* .section1 .btn-cola.on {
  
} */
.section1 .btn-cola:disabled {
  content: "품절";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./img/soldout.png") no-repeat center center rgba(0, 0, 0, 0.8);
  background-size: 65%;
  border-radius: 10px;
  z-index: 10;
}
/* js 만들면 지울 것 디자인용 */
.section1 .list-cola li:nth-child(1) button {
  box-shadow: inset 0 0 0 3px #6327fe;
}
.section1 .list-cola li:nth-child(5) button {
  box-shadow: inset 0 0 0 3px #6327fe;
}
.section1 .list-cola li:nth-child(2) button {
  position: relative;
}
.section1 .list-cola li:nth-child(2) button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./img/soldout.png") no-repeat center center rgba(0, 0, 0, 0.8);
  background-size: 65%;
  border-radius: 10px;
  z-index: 10;
}
.section1 .list-cola li:nth-child(2) {
  pointer-events: none;
}
/* 다시 section1 css */
.section1 .list-cola .cola-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 22px;
  border-radius: 50px;
  color: white;
  background-color: #6327fe;
  font-size: 12px;
}
.section1 .shopping-basket {
  display: grid;
  gap: 11px;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
  grid-template-columns: auto calc((100% - (12px * 2)) / 3);
  grid-template-rows: 33px 33px 106px;
  margin-top: 20px;
}
.section1 .purple-box {
  grid-area: a;
}
.section1 .btn.return {
  grid-area: b;
}
.section1 .input-money {
  box-sizing: border-box;
  grid-area: c;
  border-radius: 5px;
  border: 1px solid var(--gray-4, #bdbdbd);
  padding: 6px 10px 7px 10px;
  font-size: 13px;
}
.section1 .btn.pay {
  grid-area: d;
}
.section1 .list-choose {
  grid-area: e;
}
.section1 .btn.get {
  grid-area: f;
  color: #fff;
  background: #6327fe;
  font-weight: 700;
}
/* section2 */
.section2 {
  padding: 9px 27px;
  grid-area: section2;
  background-color: #fff;
}
/* section3 */
.section3 {
  grid-area: section3;
  background-color: #fff;
  padding: 25px 27px;

  display: flex;
  flex-direction: column;
}
.section3 .list-choose {
  flex-grow: 1;
  flex-basis: 364px;
  flex-shrink: 0;
}
.section3 h2 {
  text-align: center;
  margin-bottom: 13px;
  font-size: 14px;
}
.section3 .total-price {
  font-size: 12px;
  text-align: right;
  margin-top: 8px;
}
